<form action="" (ngSubmit)="userForm.valid && onSubmit(this.modelUser)" #userForm="ngForm"  >
  <div>
    <label for="mail-user"> Email
    <input type="email" email="" name="mail-user" required maxlength="30" [(ngModel)]="modelUser.email" #email="ngModel">
    </label>
    <div *ngIf="userForm.submitted">
      <span *ngIf="email.errors?.['required']">Le mail est requis</span>
      <span *ngIf="email.errors?.['email']">L'email est invalide</span>
    </div>
  </div>
  <div>
    <label for="firstname-user"> Prénom
    <input type="text" name="firstname-user"minlength="3"
    #firstname="ngModel"
    required maxlength="15" [(ngModel)]="modelUser.firstname"
    >
    </label>
    <div *ngIf="userForm.submitted">
      <span *ngIf="firstname.errors?.['required']">Le prénom est requis</span>
      <span *ngIf="firstname.errors?.['maxlength']">Le prénom ne doit pas dépasser 15 caractères</span>
      <span *ngIf="firstname.errors?.['minlength']">Le prénom doit comporter au moins 3 caractères</span>
    </div>
  </div>
  <div>
    <label for="lastname-user"> Nom
    <input type="text" name="lastname-user"minlength="3" required maxlength="15" [(ngModel)]="modelUser.lastname" #lastname="ngModel" >
    </label>
    <div *ngIf="userForm.submitted">
      <span *ngIf="lastname.errors?.['required']">Le nom est requis</span>
      <span *ngIf="lastname.errors?.['maxlength']">Le nom ne doit pas dépasser 15 caractères</span>
      <span *ngIf="lastname.errors?.['minlength']">Le nom doit comporter au moins 3 caractères</span>
    </div>
  </div>
  <div>
    <label for="password-user"> MDP
    <input type="password" name="passord-user"  required minlength="3" maxlength="15" [(ngModel)]="modelUser.password" #password="ngModel">
    </label>
    <div *ngIf="userForm.submitted">
      <span *ngIf="password.errors?.['required']">Le MDP est requis</span>
      <span *ngIf="password.errors?.['maxlength']">Le MDP ne doit pas dépasser 15 caractères</span>
      <span *ngIf="password.errors?.['minlength']">Le nom doit comporter au moins 3 caractères</span>
    </div>
  </div>
  <button type="reset"> Reset</button>
  <button type="submit"> Sauvegarder</button>
</form>
