<div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label>
  <div> username<input type="text" name="" id=""  formControlName="username"></div>

<ng-container formGroupName="credentials">
  <div>mail<input type="email" name="" id="" formControlName="email"></div>
  {{ userForm.get('credentials.email')?.errors?.['email'].rules }}

  <div *ngIf="userForm.get('credentials.email')?.errors && !userForm.get('credentials.email')?.pristine"
   class="error-msg">

  <div [hidden]="!userForm.get('credentials.email')?.errors?.['required']">email is required.</div>
  <div [hidden]="!userForm.get('credentials.email')?.invalid">email is invalid.</div>
</div>

  <div>password<input type="text" name="" id="" formControlName="password"></div>
</ng-container>

<ng-container formGroupName="address">
  <div>street<input type="text" name="" id="" formControlName="street"></div>
  <div>city<input type="text" name="" id="" formControlName="city"></div>
  <div>zipCode<input type="text" name="" id="" formControlName="zipCode"></div>
</ng-container>

  <button type="submit">Submit</button>
  </label>
</form>

  <p>Console.log sur le subtmit pour check les résulats :) </p>
</div>
